<% if @search_results.present? %>
  <div class="text-sm text-gray-500 dark:text-gray-400 mb-2">
    <%= pluralize(@search_results.size, 'result') %> found
  </div>
  <% @search_results.each do |result| %>
    <div class="p-2 hover:bg-gray-100 dark:hover:bg-gray-700 rounded cursor-pointer dark:text-gray-400 text-sm" 
         data-action="click->chapter-search#highlightAndScroll"
         data-text="<%= result.strip %>">
      <%= highlight(result.strip, @search_term) %>
    </div>
  <% end %>
<% elsif @search_term.present? %>
  <div class="mt-4 text-sm text-gray-500 dark:text-gray-400">
    No results found for "<%= @search_term %>"
  </div>
<% end %>