<h1>Definition of "<%= @word %>"</h1>

<% if @definitions.any? %>
  <ul>
    <% @definitions.each do |definition| %>
      <li><%= definition %></li>
    <% end %>
  </ul>

 
    <% end %>




<%= link_to "Back to Search", search_form_vocabularies_path %>
